<p style="color: green"><%= notice %></p>

<%= render @subject %>

<h2>List of Students:</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Year Level</th>
      <th>Number of Units</th>
    </tr>
  </thead>
  <tbody>
    <% @subject.courses.each do |course| %>
      <tr>
        <td><%= link_to course.student.name, course.student%></td>
        <td><%= course.student.year_level%></td>
        <td><%= course.student.number_of_units%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p></p>

<div>
  <%= link_to "Edit this subject", edit_subject_path(@subject) %> |
  <%= link_to "Back to subjects", subjects_path %>
<p></p>
  <%= button_to "Destroy this subject", @subject, method: :delete %>
</div>
